<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/employee/login.css}">
</head>
<body>
    <header>
          <h1>日報管理システム</h1>
    </header>

    <h2>ログイン</h2>
    <form method="post" action="/login" th:action="@{/login}">
        <label for="code">社員番号</label>
        <br>
        <input type="text" id="username" name="username" >
        <br>
        <label for="password">パスワード</label>
        <br>
        <input type="text" id="password" name="password" >
        <br>
        <br>
        <input type="submit" name="loginRun" value="ログイン">
    </form>
</body>
</html>