@charset "UTF-8";

#global_navi {
    margin-bottom: 16px;
}

#global_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#global_navi ul li a {
    display: block;
    padding: 16px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    transition: background-color .2s linear;
}